%footer.footer
  .footer--top.py-3
    .container
      .row
        .col-md-3
          Footer One
        .col-md-3
          Footer Two
        .col-md-3
          Footer Trhee
        .col-md-3
          Footer Four
  .footer--bottom.py-5
    .container
      .row
        .col-md-12.text-center
          %h4 Al Kader Shriners
          %p
            25100 SW Parkway Avenue
            %br/
            Wilsonville, OR 97070-9600
          %p
            phone: 503-682-4420 | fax: 503-685-508
          %span.small
            = render 'shared/copyright_notice'
