%nav.navbar.navbar-expand-md.navbar-dark.bg-secondary
  .container
    = link_to root_path, class: 'navbar-brand', title: 'AlKader Logo' do
      Some image here
    = button_tag(class: 'navbar-toggler', type: 'button',
      data: { toggle: 'collapse', target: '#primaryNav' },
      'aria-controls' => 'primaryNav',
      'aria-expanded' => 'false',
      'aria-label' => 'Toggle navigation') do
      %span.navbar-toggler-icon

    #primaryNav.navbar-collapse.collapse
      %ul.navbar-nav.ml-auto
        %li.nav-item
