.dropdown
  = button_tag('Archives',
                id: 'ddOasisArchive',
                class: 'btn btn-outline-primary dropdown-toggle align-self-center',
                data: {toggle: 'dropdown'},
                aria: {expanded: 'false'})
  .dropdown-menu{'aria-labelledby' => 'ddOasisArchive'}
    = link_to('2020 Oasis Newsletters', oasis_path, class: 'dropdown-item')
    = link_to('2019 Oasis Newsletters', oasis_2019_path, class: 'dropdown-item')
    = link_to('2018 Oasis Newsletters', oasis_2018_path, class: 'dropdown-item')
