- content_for :title, 'About'

.hero
  = image_tag('hero_2019_divan.jpg', alt: '2019 Divan', class: 'img-fluid')
  .hero__lead-container
    .container
      .text-center.py-3
        %h1.pb-0.text-white About Al Kader Shriners

.py-4
  .container
    .row
      .col
        %h2.text-danger.pb-3 Al Kader Shriners
        %figure.figure.float-right.w-50.w-md-25.pl-3
          = image_tag('about_masonic_temple_third_alder.jpg',
                      alt: 'Shrine Center',
                      class: 'img-fluid')
          %figcaption.figure-caption.pt-1
            Old Masonic Temple on Third and Alder where Al Kader held its first Ceremonial.
        %p
          Most North Westerners are familiar with the legendary story of how Portland, Oregon was
          named. Francis Lovejoy from Boston and A.J. Pettygrove from Portland, Maine both wanted
          this new Oregon settlement to be named for their hometown. They flipped a coin and
          Pettygrove from Portland, Maine won the toss. However, Boston later achieved some
          compensation for the loss, naming the Willamette River trading post "Boston, Oregon" and
          the inspiration for founding of Al Kader Temple came from Boston, Massachusetts.
        %p
          On returning from a visit to Boston in 1887, James W. Cook, operator of large fisheries
          along the Columbia River, told of his initiation into Aleppo Temple of the Ancient Order
          of Nobles of the Mystic Shrine. In the latter part of the year, the names of enough
          members of the Masonic Fraternity had been gathered on a petition to warrant applying for
          a dispensation. Imperial Potentate Sam Biggs granted the dispensation for Al Kader Temple
          the following year on January 3rd, 1888.
        %p
          San Francisco's Islam Temple was the first to be chartered on the Pacific Coast in 1883
          and number fifteen (15) in sequence. On February 15th, 1888 members of the Islam Temple
          conferred the Shrine degrees in Portland. Noble Cook, aided by Noble Gunn of Islam Temple
          in San Francisco, communicated the degrees to fourteen applicants and Irving W. Pratt was
          elected Illustrious Potentate. Al Kader was the 46th charter and the first in the Pacific
          Northwest.
        %p
          By 1900 over 80 Shrine Temples had been established – making the Shrine a truly national
          organization. Over 100 additional charters have been granted since then with the Shrine
          now comprising 196 Temples located throughout the United States, Canada, Mexico, the
          Republic of Panama, Puerto Rico, the Philippines and Germany. At one time, only after a
          Master Mason has achieved the 32 degree (Scottish Rite) or Knights Templar (York Rite)
          can he petition to become a Noble of the Mystic Shrine. These requisites were changed
          recently and now after being initiated in the sublimed degree of being a Master Mason he
          can petition the Shrine and become a Noble.
        %p
          Shrine Rosters include prominent persons throughout Canada and the United States and
          including the State of Oregon. Since the beginning of the Shrine in the late 1800's, the
          organization has attracted dedicated men from all walks of life representing a cross
          section of America in the various social, economic, educational and spiritual
          complexities of the continent.
        %figure.figure.float-left.w-50.w-md-25.pr-3
          = image_tag('about_irving_w_pratt.jpg',
                      alt: 'Irving W Pratt',
                      class: 'img-fluid')
          %figcaption.figure-caption.pt-1
            Irving W. Pratt, Al Kader’s First Potentate (1888-1901)
        %p
          Each Noble may interpret his Shrine affiliation in a manner different than another – but
          all are bound in a common bond of acceptance, recognition and sincerity, which seldom is
          attainable in any other association. However, even with their individual uniqueness, they
          share one common bond – they are all members of the Masonic Order and adhere to the
          principles of Freemasonry.
        %p
          From the onset Oregon Masons have played a prominent part in the State’s history and
          development. Lewis and Clark, the early explorers of the State were Masons and since then
          twenty-two (22) of Oregon’s thirty-eight (38) governors were Masons as well as four (4)
          U.S. Senators.
        %p
          Mayors of the City of Portland, who are included in the Al Kader Nobility, include IS
          George Baker (Potentate 1924), IS Fred Peterson (Potentate 1946) and IS Earl Riley
          (Potentate 1949).
        %p
          The Oregon business community abounds with leaders who are among the Shrine Masons of
          Oregon, as well as in practically every profession and occupation.
        %p
          Al Kader Temple and their delegation of representatives to the Imperial Council which
          met in Portland, Oregon in 1920 helped write that indelible page in the Book of Humanity,
          the Shriners Hospitals for Children. It was here that the movement to establish our
          philanthropy began.
        %p
          W. Freeland Kendrick of Philadelphia was Imperial Potentate in 1920 and he recommended
          that the Ancient Arabic Order of Nobles of the Mystic Shrine combine heart interest with
          its relaxation periods by undertaking to help restore the bodies of crippled children in
          the families unable to finance expert treatment. Before the close of the session on the
          first day the proposal had been voted down.
        %p
          That night, a group of Representatives that included Noble Forest Adair of Atlanta and
          all of those from Portland, gathered at the Multnomah Hotel. They labored at changing the
          views until early in the morning at which time Noble Forest Adair went to his room
          discouraged and heartsick. He was the head of the small Scottish Rite orthopedic hospital
          in Atlanta and knew of the field from good that awaited the Shrine. As he stood at the
          window of his room there floated up to his ears the notes of a trombone. The player, a
          Shriner, was leaning against the hotel wall, all alone on the dewy morning playing "I'm
          forever blowing bubbles: Pretty bubbles in the air". That music gave Noble Adair the
          inspiration for his famous "Bubbles" speech which swayed the reluctant delegates to
          renewed action. The meeting produced a unanimous vote in support of the Imperial
          Potentate Kendrick's resolution.
        %figure.figure.float-right.w-50.w-md-25.pl-3
          = image_tag('about_al_kader_shrine_center.jpg',
                      alt: 'Al Kader Shrine Center',
                      class: 'img-fluid')
          %figcaption.figure-caption.pt-1
            Al Kader Shrine Center in Wilsonville, OR
        %p
          Al Kader Temple is located a few miles South of Portland, Oregon in Wilsonville. There
          are twenty-two (22) hospitals located throughout the Unites States, Canada and Mexico and
          we are fortunate to have one of those great hospitals located in the Portland metro area.
          The Portland Unit, located originally on 82nd and Sandy, opened in 1924, was the third
          hospital built by Shriners International. Over a period of time it became evident that
          modern medical treatments required a closer liaison with the University Medical
          facilities on Marquam Hill. It was decided to move the Shrine facility in proximity to
          the Oregon Health and Sciences University at a capital investment of over $25 million to
          create the new hospital which includes a research center designed in the study of
          prevention of children’s afflictions.
        %p
          In recent years, it has become evident that many people are unaware of the medical
          treatment available at Shrine Hospitals, which was provided absolutely without charge. Al
          Kader Temple has been among the leaders in scheduling of "Screening Clinics" which are
          conducted at various cities and towns in the Northwest. This was started by Potentate
          John Coates of Al Kader Temple in November 1984 and followed yearly by ongoing clinics.
          These clinics review the children in specific areas of appraisal for possible assistance
          by the Portland Unit. The first series produced 554 examinations with 398 accepted for
          treatment. Since then thousands of children have been accepted for treatment.
        %p
          The year 1997 was our 75th anniversary of the founding of Shriner's Hospital system and
          we presented a “Reunion Celebration”. This celebration was in conjunction with our annual
          "Shrine Family Picnic" for 1997 and available past patients, past and present staff
          attended.
    .row.py-3
      .col
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{allowfullscreen: 'true', frameborder: '0', mozallowfullscreen: 'true', src: 'https://docs.google.com/presentation/d/1eDebFJ84C7Cw1r87tAF_2l2YkT7-1wOebkWxkWywt0Y/embed?start=false&loop=false&delayms=3000', webkitallowfullscreen: 'true'}
