- content_for :title, 'Contact'

.hero
  = image_tag('hero_2019_divan.jpg', alt: '2019 Divan', class: 'img-fluid')
  .hero__lead-container
    .container
      .text-center.py-3
        %h1.pb-0.text-white Contact Us

