- content_for :title, 'Events'

.py-4.border-top.border-medium
  .container
    .row.py-3
      .col
        %h1.text-danger.pb-3 Al Kader Events Calendar
        .embed-responsive.embed-responsive-16by9
          %iframe.embed-responsive-item{frameborder: '0', scrolling: 'no', src: 'https://calendar.google.com/calendar/embed?src=maq860hqlhcc7nbk7i0h5ft6o4%40group.calendar.google.com&ctz=America%2FLos_Angeles', style: 'border: 0'}

