- content_for :title, 'Facility Rental'

.hero
  = image_tag('hero_harrington_hall.jpg', alt: 'Harrington Hall entrance', class: 'img-fluid')
  .hero__lead-container
    .container
      .text-center.py-3
        %h1.pb-0.text-white Rent our Facility
.py-4
  .container
    .row
      .col
        %h2.text-danger.pb-3 Facility Rental
        %h3.text-danger.pb-2 Host Your Next Event at Al Kader Shrine Center
        %figure.figure.float-right.w-50.w-md-25.pl-3
          = image_tag('about_al_kader_shrine_center.jpg',
                      alt: 'Al Kader Shrine Center',
                      class: 'img-fluid')
          %figcaption.figure-caption.pt-1
            Al Kader Shrine Center in Wilsonville, OR
        %p
          Are you looking for the perfect place to host your next event? Al Kader Shrine Center
          offers enough space to host wedding receptions, Bar or Bat Mitzvahs, Quinceaneras,
          business meetings, and more. We offer kitchen facilities, a bar, and assistance with
          setup and cleanup. We have a prestigious location, with ample free parking only minutes
          from Portland via I-5 or I-205 freeways and equally convenient from Salem or points in
          between.
        %h4.text-danger.pb-2 Harrington Hall
        %p
          Al Kader Shrine Center provides a hall that can accommodate any social event up to 691
          people with seated occupancy up to 323 people. The mezzanine area of 897 square feet has
          an eight-foot ceiling, which opens into the main hall that is 3,944 square feet measuring
          58 by 68 feet with 19-foot ceilings.
        %p
          The stage area in the hall measures ten by thirty feet, and we can provide many different
          levels of staging. There is a tiled dance floor twenty-four feet square with rotating
          mirrored ball above.
        %p
          For your audiovisual needs, there is a 12-foot square retractable projection screen, two
          wireless hand-held microphones, and three corded and six wireless microphones. The
          superior sound system includes tape player, CD player and AM/FM radio.
        %p
          A modern, full service kitchen is a step away from the main hall. The kitchen features a
          commercial gas stove, warming ovens, large refrigeration storage, ice machine, coffee
          machine, and food preparation and dishwashing areas.

        %h4.text-danger.pb-2 Upper Level Lounge
        %p
          The upstairs lounge is a great place for your guests to sit and relax with refreshments,
          for conversation or for a small musical group to provide soft music. The room has a
          serving counter with sink, ice machine, refrigerator and microwave oven. It measures 23
          feet square and seats 20 to 25 people at small round tables. This is also a good
          location for a small buffet and bar set up. A soft drink vending machine is nearby.
        %h4.text-danger.pb-2 Upper Level Large Meeting Room
        %p
          The upstairs East room is the right size for smaller events, measuring 35 by 43 feet
          for a total of 1,500 square feet. A portable serving bar is available in the room,
          which is perfect for small gatherings and quiet conversation away from the downstairs
          Main hall.
        %p
          It has maximum auditorium seating capacity of 100 people and conference table seating
          for 40. Many civic organizations utilize our building for meetings or seminars. (The
          virtual tour of the building shows how the Wilsonville Rotary club converts the room
          for their monthly meetings).
        %h4.text-danger.pb-2 Upper Level Dressing Room
        %p
          Close by is a smaller room of 414 square feet with capacity of up to 59 people and is
          often used as a small dressing room, or bride’s room for weddings.
        %h4.text-danger.pb-2 Plan Your Event
        %p
          To plan your next event or take a tour of our facility, call our office at 503-682-4420.
